Python作为数据处理的常用语言，可以与多种数据来源对接，如csv,txt,excel等；同时也可以对接数据库，如MySQL。

1.使用pandas包进行本地、在线数据读入。

In [1]:
# 导入pandas包
import pandas as pd

# 读取本地文件
#df1 = pd.read_csv('C://Users/template.csv')
# 可使用read_excel, read_txt读取这两个类型的文件。

# 读取在线文件
data_url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv" 
#填写url读取
df2 = pd.read_csv(data_url)

参数详解：
http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html

2.读取MySQL数据库数据。

In [2]:
import MySQLdb

# 连接到 Mysql 数据库。
mysql_cn = MySQLdb.connect(host = 'localhost', port = 3306, user = 'root',passwd = 'xz2102', db = 'xztest')

# 使用cursor来执行mysql指令。
cursor = mysql_cn.cursor()

# 查看数据库中的表。
cursor.execute('Show tables;')
print(cursor.fetchall())

# 将animals表中的内容储存在df3中并打印。
df3 = pd.read_sql('select * from xztest.animals', con = mysql_cn)
print(df3)

# 关闭数据库。
mysql_cn.close()

(('animals',), ('boy',), ('comparasion',), ('datetime',), ('datetime2',), ('floats',), ('girl',), ('goods',), ('m',), ('member',), ('mod1',), ('sky',), ('stringcom',), ('stu',), ('students',), ('t',), ('timestamp1',), ('types',), ('union1',), ('union2',), ('year1',))
   cat_id  cname  onsky
0      95   lion      2
1      96  tiger      1

3.将数据导出到csv, txt, excel.（注意，若有同名文件会被覆盖。）

In [3]:
#df2.to_csv('C:\\demo.csv', encoding='utf-8', index=False) 
#index=False表示导出时去掉行名称，如果数据中含有中文，一般encoding指定为‘utf-8’